
//Custom SASS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
}
body, section, article, header, div, p, form, input, h1, h2, h3, h4, h5, h6,
textarea, input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"]{
    // font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}

p{
    font-weight: 300;
}

.global-header {
    // background: #f1f1f1;
    /* border-bottom: 2px solid #0b3973;
    box-shadow: 0px 4px 8px 2px rgb(14, 59, 117); */
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #ddd;
    overflow: visible;
    height: 90px;
    box-shadow: 0px 10px 10px rgba(43, 3, 3, 0.15);
    @media (max-width: 767px){
        height: 68px;
        padding-top: 12px;
    }
    .main-header{
        // max-width: 1290px;
        // margin: auto;
        // padding: 0 15px;
    }
    .header-logo .course-header{
        color: #8c8c8c;
        font-size: 12px;
        .course-name{
            font-size: 14px;
        }
    }
    .header-logo a{
        margin: 5px 15px 0 -5px;
        .logo{
            height: 70px;
            @media (max-width: 767px){
                margin-left: 17px;
                margin-top: -15px;
                height: 57px;
            }
        }
    }
    .nav-links .main{
        float: none;
        // margin: 20px 0 0 0;
        margin: 0;
        .nav-tab a{
            font-size: 17px;
            color: #505050;
            border: none;
        }
    }
    .hamburger-menu{
        @media (max-width: 767px){
            left: auto;
            right: 15px;
            top: 8px;
        }
    }
}

.blm-container{
    margin: auto;
    max-width: 1290px;
    padding: 0 30px;
}

.containerBox{
    margin: auto;
    max-width: 1200px;
    padding: 0 15px;
}

#blmMenuBox{

    @media (max-width: 767px){
        width: 100%;
        position: absolute;
        left: 0;
        top: 93px;
        // float: left;
        // margin-top: 43px;
        display: none;
    }
}

.content-wrapper{
    @media (min-width: 768px){
        padding: 0;
        margin-top: 0;
    }
}

.courses-container{
    max-width: 1200px;
    padding: 0 15px;
}

.course-info{
    header.course-profile{
        .intro-inner-wrapper{
            background: #1606AA;
            border: none;
            box-shadow: none;
            max-width: 100%;
            div.table{
                padding: 30px 15px;
                display: block;
                margin: 0 auto;
                max-width: 1200px;
            }
            .intro{
                // flex: 1 0 70%;
                // max-width: 68%;
                align-items: center;
                display: flex;
                width: 100%;
                padding: 20px  20px 20px  0;
                @media (max-width: 767px){
                    padding: 20px 0;
                }
                .heading-group{
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border: none;
                    box-shadow: none;
                    h1{
                        color: #fdfdfd;
                        text-shadow: none;
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
            }
        }
        .ctaBox{
            // flex: 1 0 35%;
            // max-width: 32%;
            // align-items: center;
            // display: flex;
            // justify-content: center;
            // width: 100%;
            @media (max-width: 767px){
                flex: 0 0 90%;
                text-align: center;
                margin-top: 20px;
            }
            .register{
                background: #FF0101;
                color: #e1e1e1;
                padding: 12px 25px;
                border-radius: 30px;
                box-shadow: 0px 0px 10px #031d55;
                text-decoration: none;
                display: block;
                &:hover{
                    text-decoration: none;
                }
            }
            a{
                text-decoration: none;
                .register{
                    text-decoration: none;
                }
                .register + strong{
                    display: block;
                    text-align: center;
                    font-weight: normal;
                    margin-top: 15px;
                    color: #fdfdfd;
                }
            }
        }
    }

    .cta_start_date{
        display: block;
        color: #e1e1e1;
        text-align: center;
        font-size: 14px;
        margin-top: 5px;
    }

    .courseShortDesc{
        color: #e1e0dc;
        font-size: 15px;
        line-height: 1.6;
    }

    .details{
        width: 100%;
        margin-right: 0;
        @media (max-width: 767px){
            padding: 20px 5px;
        }
        h2{
            font-size: 24px;
            font-weight: bold;
            color: #444;
        }
    }

    .course-sidebar{
        width: 100%;
        padding: 15px 20px;
    }

    // .container{
    //     // display: flex;
    //     // max-width: 1290px;
    //     // margin: auto;
    //     // padding: 0 20px 0 20px;
    //     max-width: 100%;
    //     padding: 0;
    //     background: #d4d2d2;
    //     .details{
    //         h2{
    //             font-size: 24px;
    //             font-weight: bold;
    //         }
    //     }
    // }

}

// .global-header .nav-links .main .nav-tab a.active, 
// .global-header .nav-links .main .nav-tab a:hover {
//     border: none;
//     color: #1c4288;
// }


.universalMenu{
    ul{
        display: flex;
        list-style: none;
        @media (max-width: 767px){
            border-bottom: 1px solid #ddd;
            background: #fff;
            flex-direction: column;
            align-items: flex-end;
            box-shadow: 0px 2px 7px #aaa;
        }
        li{
            // padding: 12px 15px;
            @media (max-width: 767px){
                width: 100%;
            }
            a{
                font-size: 1.1em;
                color: #444;
                text-decoration: none;
                padding: 32px 45px 32px 30px;
                display: inline-block;
                position: relative;
                @media (max-width: 767px){
                    width: 100%;
                    text-align: right;
                    padding: 15px 45px 15px 30px;
                }
                &:hover{
                    color: #da0303;
                    background: #fdeded;
                }
            }
            a:not(.btn){
                font-size: 1.1em;
                color: #444;
                text-decoration: none;
                &:hover{
                    color: #da0303;
                }
                @media (max-width: 767px){
                    font-size: 1em;
                    font-weight: 600;
                }
            }
        }
    }

    a.dropDownA:after{
        content: " ";
        background: url(../images/dropDownIcon.svg) center no-repeat;
        background-size: 14px 14px;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 15px;
        top: 35px;
        transform: rotate(180deg);
        transition: transform 0.4s ease;
        @media (max-width: 767px){
            top: 20px;
        }
    }


    .dropDownUl{
        display: flex;
        flex-direction: column;
        position: absolute;
        background: #fdeded;
        padding: 15px 5px;
        margin-top: -5px;
        width: 250px;
        display: none;
        @media (max-width: 767px){
            position: relative;
            width: 100%;
        }
        li{
            a{
                padding: 10px 10px 10px 12px;
            }
        }
        .lastLItem{
            text-align: center;
            .mLine{
                background: #bcbcbc;
                filter: blur(2px);
                border-radius: 2px;
                height: 2px;
                display: block;
                width: 100%;
                margin-bottom: 7px;
            }
            a{
                background: #da0303;
                color: #fff;
                border-radius: 30px;
                padding: 8px 25px;
                margin-top: 10px;
                @media (max-width: 767px){
                    text-align: center;
                }
            }
            a:not(.btn){
                &:hover{
                    color: #da0303;
                    background: #fff;
                }
            }
        }
    }

    li.dropDownLiMain{
        position: relative;
        &:hover{
            .dropDownA{
                color: #da0303;
                background: #fdeded;
            }
            // .dropDownUl{
            //     display: block;
            // }
        }
    }

    a.dropDownA:hover:after{
        transform: rotate(0deg);
    }

}

.mobile-menu{
    @media (max-width: 767px){
        float: left;
        width: 100%;
        border-top: none;
        margin: 4px 0 -10px;
        position: absolute;
        .mobile-nav-link{
            @media (max-width: 767px){
                float: left;
                width: 50%;
            }
            a{
                @media (max-width: 767px){
                    float: left;
                    color: #aaa;
                }
                &.register-btn{
                    text-align: right;
                }
            }
        }
    }
}

#mob_hidden{
    @media (max-width: 767px){
        display: none;
    }
}
// // Initialize the Open edX Bootstrap theme
// @import 'edx-bootstrap/sass/open-edx/theme';

.fullRow{
    display: flex;
    @media (max-width: 767px){
        flex-wrap: wrap;
    }
    .leftCol{
        width: 68%;
        @media (max-width: 767px){
            width: 100%;
            float: left;
        }
        .contentBox{
            width: 94.11%;
            margin-left: auto;
            @media (max-width: 767px){
                width: 100%;
                position: relative;
            }
            @media (min-width: 1441px){
                width: 80%;
            }
        }
    }
    .rightCol{
        width: 32%;
        @media (max-width: 767px){
            width: 100%;
            float: left;
        }
        .contentBox{
            width: 87.5%;
            @media (max-width: 767px){
                width: 100%;
                justify-content: center;
            }
            @media (min-width: 1441px){
                width: 65%;
            }
        }
    }
}

.bRow{
    display: flex;
    flex-wrap: wrap;
    // @media (max-width: 767px){
    //     flex-wrap: wrap;
    // }
    .bCol-d-4{
        flex: 0 0 33.33%;
        width: 33.33%;
    }
    .bCol-d-5{
        flex: 0 0 41.67%;
        width: 41.67%;
    }
    .bCol-d-6{
        flex: 0 0 50%;
        width: 50%;
    }
    .bCol-d-7{
        flex: 0 0 58.33%;
        width: 58.33%;
    }
    .bCol-d-8{
        flex: 0 0 66.67%;
        width: 66.67%;
    }
    .bCol-d-9{
        flex: 0 0 75%;
        width: 75%;
    }
    .bCol-d-10{
        flex: 0 0 83.33%;
        width: 83.33%;
    }
    .bCol-d-11{
        flex: 0 0 91.67%;
        width: 91.67%;
    }
    .bCol-d-12{
        flex: 0 0 100%;
        width: 100%;
    }
    @media (max-width: 767px){
        .bCol-m-12{
            flex: 0 0 100%;
        }
    }

}

.bgGrey{
    background-color: #eeeeee;
}

.footerBox{
    @media (max-width: 767px){
        padding: 0 30px 25px 30px;
    } 
}

.courseIntroBox{
    // .rightCol{
        .contentBox{
            height: 100%;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;
            @media (max-width: 767px){
                width: 100%;
                justify-content: center;
                height: auto;
                padding-right: 0px;
            }
        }
    #register_error.errorVisible{
        display: block;
        color: #fff;
        background: #af0001;
        padding: 7px 20px;
        margin: -15px 10px 0 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #610001;
        font-size: 0.9em;
        text-align: center;
        @media (max-width: 767px){
            margin: 25px 10px 0 10px;
        }
    }
}

.courseInfoBox{
    .rightCol{
        background-color: #eeeeee;
    }
}

.ciRow{
    display: flex;
    padding: 20px 0px 20px 5px;
    border-bottom: 1px solid #d4d4d4;
    color: #444;
    font-size: 0.86em;
    line-height: 1.6;
    .ciCol.ciColLeft{
        width: 45%;
    }
    .ciCol.ciColRight{
        width: 55%;
    }
    .ciLabelBox{
        display: flex;
        .ciIcn{
            width: 32px;
            height: 32px;
            background: url(../images/clock.svg) center no-repeat;
            background-size: 30px 30px;
            margin-right: 5px;
            margin-top: -6px;
        }
    }
    &.ciEffort{
        .ciLabelBox{
            .ciIcn{
                background: url(../images/timings.png) center no-repeat;
                background-size: 30px 30px;
            }
        }
    }
    &.ciPrice{
        .ciLabelBox{
            .ciIcn{
                background: url(../images/priceIcon.png) center no-repeat;
                background-size: 30px 30px;
            }
        }
    }
    &.ciCourseType{
        .ciLabelBox{
            .ciIcn{
                background: url(../images/profileIcon.png) center no-repeat;
                background-size: 30px 30px;
            }
        }
    }
    &.ciOrg{
        .ciLabelBox{
            .ciIcn{
                background: url(../images/orgIcon.png) center no-repeat;
                background-size: 30px 30px;
            }
        }
    }
    &.ciLanguage{
        .ciLabelBox{
            .ciIcn{
                background: url(../images/worldIcon.png) center no-repeat;
                background-size: 30px 30px;
            }
        }
    }
}

.home>header{
    background: #f1f1f1;
    .heading-group{
        text-align: center;
        display: block;
        padding-top: 15px;
        h1{
            text-align: center;
            color: #8a8a8a;
        }
    }
    .outer-wrapper{
        .title{
            text-align: center;
            box-shadow: 0 4px 5px 0 #c6c6c680;
        }
    }
}

.global-header{
    .nav-links{
        .secondary{
            margin: 20px 0 0 0;
            a.sign-in-btn{
                background: none;
                border: 1px solid #fff;
                color: #444;
                border-radius: 30px;
                &:hover{
                    background: #FF0101;
                    color: #fff;
                    border: 1px solid #da0303;
                }
            }
            a.register-btn.btn{
                background: #FF0101;
                color: #fff;
                border: 1px solid #da0303;
                border-radius: 30px;
                &:hover{
                    background: none;
                    border: 1px solid #fff;
                    color: #444;
                }
            }
            .dropdown-user-menu{
                top: 77px;
                right: 5%;
                @media (min-width: 1441px){
                    right: 11%;
                }
            }
        }
    }
}


// .fullSingleRow{
//     width: 92%;
//     margin: auto;
//     @media (min-width: 1441px){
//         width: 75.2%;
//     }
//     // .fRBox{
//     // }
// }


#bloomFooter{
    background: #1606aa;
    padding: 30px 0;
    footer{
        // .footerTop{

        // }
        ul.footerMenu{
            padding: 0;
            list-style: none;
            li{
                padding: 7px 0;
                a{
                    color: #c1bcf1;
                }
            }
        }
        h4{
            color: #dddbf1;
            font-weight: 600;
        }
        .ftrPara{
            color: #c1bcf1;
            font-size: 1.1em;
            line-height: 1.4;
            @media (max-width: 767px){
                padding: 0 30px 25px 30px;
            }
            a{
                color: #dddbf1;
                font-weight: bold;
            }
        }
        .ftrPara2{
            margin-top: 20px;
        }
    }
}

.footerBottomBox{
    padding: 30px 0;
    span{
        margin-right: 15px;
        color: #666;
        a{
            color: #444;
        }
    }
    .footerBottom{
        @media (max-width: 767px){
            padding: 0 30px 25px 30px;
        }
        span{
            @media (max-width: 767px){
                display: block;
                margin: 15px 0 0 0;
            }                    
        }
    }
    .socialMediaIcons{
        @media (max-width: 767px){
            padding: 0 30px 25px 30px;
            margin-top: 15px;
            display: flex;
        }
        .socialLink{
            a{
                text-indent: -9999px;
                float: left;
                width: 32px;
                height: 32px;
                background: url(../images/facebook.png) center no-repeat;
                background-size: 30px 30px;
                margin-right: 15px;
            }
            &.LinkedIn{
                a{
                    background: url(../images/linkedIn.png) center no-repeat;
                    background-size: 30px 30px;
                }
            }
            &.Twitter{
                a{
                    background: url(../images/twitter.png) center no-repeat;
                    background-size: 30px 30px;
                }
            }
            &.Instagram{
                a{
                    background: url(../images/instagram.png) center no-repeat;
                    background-size: 30px 30px;
                }
            }
            &.Facebook{
                a{
                    background: url(../images/facebook.png) center no-repeat;
                    background-size: 30px 30px;
                }
            }
        }
    }
}

.courseAboutSection{
    width: 95%;
    @media (max-width: 767px){
        width: 100%;
    }
    ul{
        margin: 0;
        max-height: 64px;
        overflow: hidden;
        // box-shadow: inset 0px -15px 15px -10px #ddd;
    }
}

.expandButton,
.expandButtonTeachers{
    // box-shadow: inset 0px 15px 15px -10px #ddd;
    position: relative;
    p{
        display: inline-block;
        padding: 15px 15px 10px 0;
        cursor: pointer;
    }
    
    .blurLine{
        position: absolute;
        width: 100%;
        height: 20px;
        left: 10px;
        top: -10px;
        background: #f2f2f2;
        filter: blur(10px);
    }
    
    .expandText{
        font-weight: 600;
        font-size: 14px;
        margin-top: 10px;
        float: left;
    }
}

.expandIcon{
    background: #FAEAEA;
    font-size: 32px;
    color: rgba(255, 1, 1, 0.6);
    font-weight: 100;
    text-align: center;
    display: inline-block;
    width: 42px;
    height: 42px;
    padding: 10px 2px 5px 3px;
    margin-right: 10px;
    border-radius: 100%;
    box-shadow: -1px 4px 8px -1px #f59b9b;
    float: left;
    cursor: pointer;
}

.courseAboutSection.cASExpanded{
    .expandButton{
        .expandIcon{
            font-size: 40px;
            padding: 11px 2px 5px 3px;
        }
        .blurLine{
            display: none;
        }
    }
    ul{
        max-height: none;
        overflow: visible; 
    }
}

.course-staff{
    .teachersBox{
        display: flex;
        flex-wrap: wrap;
        max-height: 115px;
        overflow: hidden;
        article.teacher{
            flex: 0 0 49%;
            @media (max-width: 767px){
                flex: 0 0 100%;
            }
            .teacher-image{
                border-radius: 100%;
                width: 100px;
                height: 100px;
            }
            h3{
                font-size: 16px;
                color: #444;
                font-weight: 600;
                margin-bottom: 5px;
                text-decoration: underline;
                margin-top: 15px;
            }
            p{
                color: #666;
            }
        }
    }
    &.cASExpanded{
        .expandIcon{
            font-size: 40px;
            padding: 11px 2px 5px 3px;
        }
        .teachersBox{
            max-height: none;
            overflow: visible; 
        }
        .blurLine{
            display: none;
        }
    }
}

.faqSection{
    padding-right: 30px;
    padding-bottom: 30px;
    float: left;
    width: 100%;
    @media (max-width: 767px){
        padding-right: 0px;
    }
    .expandIcon{
        width: 32px;
        height: 32px;
        padding: 8px 0px 2px 1px;
        margin-right: 15px;
        margin-top: -8px;
        font-size: 26px;
    }
    .faqResponse{
        float: left;
        width: 100%;
        background: #eee;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 12px 15px;
        .faqAnswer{
            display: none;
            margin-top: 12px;
            float: left;
            width: 100%;
            padding: 0 10px 0 45px;
        }
        &.cASExpanded{
            .expandIcon{
                font-size: 32px;
                padding: 7px 2px 5px 3px;
            }
            .faqAnswer{
                display: block;
            }
        }
    }

    h3.faqQuestion{
        font-size: 16px;
        font-weight: 600;
        margin-top: 6px;
        cursor: pointer;
        display: inline-block;
    }
}


.course-content{
    .xmodule_display.xmodule_SequenceModule{
        .sequence-nav button.active{
            border-bottom: 3px solid #0a8c20;
            .icon {
                color: #0b8c21;
            }
        } 
    }
}

#dashboard-main{
    .main-container{
        position: relative;
        margin: 0 auto;
        padding: 60px;
        max-width: 1200px;
    }
}

.aboutContainer{
    .staticHeader1.aboutHeader{
        padding: 20px;
        background: linear-gradient(90deg , #F99C9C 1.53%, rgba(250, 234, 234, 0.87)), url(../images/groupPhotox.jpeg) no-repeat;
        min-height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-size: cover;
    }
    .abhA{
        h1{
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 50px;
            margin-bottom: 10px;
        }
    }
    .abhB{
        h4{
            color: #fff;
            font-weight: 600;
        }
    }
}

.staticBody{
    padding: 60px 30px;
    @media (max-width: 767px){
        padding: 45px 15px;
    }
    img{
        width: 86%;
        height: auto;
        @media (max-width: 767px){
            width: 100%;
        }
        @media (min-width: 1441px){
            width: 75%;
        }
    }
    .sbcTitle{
        h2{
            text-transform: uppercase;
            color: #2e2e2e;
            font-weight: 600;
            margin-bottom: 25px;
        }
        &.vLarge{
            h2{
                text-transform: none;
                font-size: 2.8em;
            }
        }
    }
    .sbcBody{
        font-size: 1em;
        line-height: 1.7;
    }

    &.staticBody1{
        .sbContentLeft{
            width: 75%;
            margin-left: auto;
            @media (max-width: 767px){
                width: 100%;
            }
            @media (min-width: 1441px){
                width: 65%;
            }
        }
        .sbContentRight{
            width: 55%;
            margin: auto;
            @media (max-width: 767px){
                width: 100%;
                margin-top: 15px;
            }
        }
    }

    &.staticBody2{
        .sbContentLeft{
            width: 65%;
            margin-left: 30%;
            text-align: right;
            @media (max-width: 767px){
                width: 100%;
                margin: auto;
            }
        }
        .sbContentRight{
            width: 60%;
            margin-left: 5%;
            @media (max-width: 767px){
                width: 100%;
                margin-left: 0;
                margin-top: 15px;
            }
            ul{
                li{
                    font-weight: 300;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.jobsContainer{
    .staticBody{
        &.staticBody1{
            .sbContentLeft{
                width: 94.11%;
                @media (min-width: 1441px){
                    width: 65%;
                }
            }
            .sbContentRight{
                width: 80%;
                margin: auto;
                @media (max-width: 767px){
                    width: 100%;
                }
                @media (min-width: 1441px){
                    width: 68%;
                }
            }
        }
    }
}






.blmTimeline{
    display: flex;
    background: #faecea;
    padding: 30px 30px;
    @media (max-width: 767px){
        overflow: auto;
        padding: 30px 5px;
    }
    img{
        width: 50px;
    }
    .uLine{
        border-bottom: 2px solid #F6C3C3;
    }
    h4{
        font-weight: 600;
        margin-bottom: 15px;
    }
    .tmlLeft{
        flex: 1 0 49%;
        text-align: right;
        padding: 30px;
        @media (max-width: 767px){
            padding: 30px 5px 30px 0px;
        }
        .dateValLeft{
            h4{
                margin-right: 10px;
            }
        }
        .tmlDescBox{
            display: flex;
            justify-content: flex-end;
            margin-top: 75px;
            width: 75%;
            margin-left: auto;
            line-height: 1.6;
            @media (min-width: 1441px){
                width: 50%;
            }
            @media (max-width: 767px){
                flex-wrap: wrap;
            }
            .tdbLeft{
                margin-right: 40px;
                @media (max-width: 767px){
                    margin-right: 10px;
                    h4{
                        margin-right: 0;
                        line-height: 1.7;
                    }
                }
            }
            .tdbRight{
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: 767px){
                    margin: 15px;
                }
            }
        }
        .dateVal.dateValLeft{
            margin-top: 90px;
        }
    }
    .tmlRight{
        flex: 1 0 49%;
        padding: 30px;
        @media (max-width: 767px){
            padding: 30px 0px 30px 10px;
        }
        .tmlDescBox{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 75px;
            margin-top: 50px;
            width: 75%;
            line-height: 1.6;
            @media (min-width: 1441px){
                width: 50%;
            }
            @media (max-width: 767px){
                flex-wrap: wrap;
                h4{
                    margin-left: 0px;
                    line-height: 1.7;
                }
            }
            .tdbLeft{
                margin-right: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: 767px){
                    margin: 15px;
                }
            }
        }
        .dateVal.dateValRight{
            margin-bottom: 90px;
            h4{
                @media (max-width: 767px){
                    margin-left: 10px;
                }
            }
        }
    }
    .tmlDivider{
        position: relative;
        .verticalLine{
            width: 3px;
            background: #e9c1b4;
            height: 100%;
        }
        .tmlPointer{
            width: 30px;
            height: 30px;
            left: -14px;
            border-radius: 100%;
            background: #faecea;
            position: absolute;
            border: 7px solid #ed3c3c;
            &.tmlPointer1{
                top: 0;
            }
            &.tmlPointer2{
                bottom: 0;
            }
        }
        .tmlPntrSmall{
            width: 20px;
            height: 20px;
            left: -9px;
            border-radius: 100%;
            background: #ed3c3c;
            position: absolute;
            &.tmlPntrSmall1{
                top: 120px;
            }
            &.tmlPntrSmall2{
                bottom: 120px;
            }
        }
    }
}

.redColor{
    color: #da0303;
}

.posRel{
    position: relative;
}

.mIconBox{
    background: #fff;
    width: 100%;
    box-shadow: -4px 4px 5px #cacaca;
    padding: 10px;
    position: absolute;
    bottom: -35px;
    left: -8%;
    @media (max-width: 767px){
        position: relative;
        bottom: auto;
        left: auto;
    }
    ul{
        display: flex;
        margin: 0;
        padding: 12px 15px;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;
    }
    li{
        img{
            width: 50px;
        }
    }
}

.bTab {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    @media (max-width: 767px){
        overflow: auto;
        justify-content: flex-start;
    }
    .tablinks{
        text-transform: uppercase;
        color: #444;
        padding: 10px 20px;
        margin: 0 15px;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
        &.active{
            background: #da0303;
            color: #fff;
        }
    }
}
  
// /* Style the buttons that are used to open the tab content */
// .bTab button {
//     background-color: inherit;
//     float: left;
//     border: none;
//     outline: none;
//     cursor: pointer;
//     padding: 14px 16px;
//     transition: 0.3s;
// }

// /* Change background color of buttons on hover */
// .bTab button:hover {
//     background-color: #ddd;
// }

// /* Create an active/current tablink class */
// .bTab button.active {
//     background-color: #ccc;
// }
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 60px;
    &.tabcontent1{
        display: block;
    }
    .bRow{
        overflow: auto;
        flex-wrap: wrap;
        @media (max-width: 767px){
            flex-wrap: nowrap;
        }
    }
}

.stPBTitle{
    text-align: center;
    width: 100%;
    h2{
        text-transform: uppercase;
        color: #2e2e2e;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.partnersBox{
    margin: 40px 0 60px 0;
    .bRow{
        align-items: center;
        justify-content: center;
    }
    .partnerBlock{
        width: 90px;
        img{
            width: 100%;
        }
    }
    .partnerBlock1{
        margin-right: 20px;
    }
    .partnerBlock2{
        margin-left: 20px;
    }
}

.teamMember{
    flex: 0 0 25%;
    text-align: center;
    margin-bottom: 45px;
    @media (max-width: 767px){
        padding: 10px;
    }
    .mbTitle{
        font-size: 13px;
        color: #da0303;
        margin: 5px 0;
    }
    .mbPhoto{
        img{
            border-radius: 100%;
            width: 150px;
            height: 150px;
        }
    }
    .mbName{
        h4{
            text-transform: uppercase;
            color: #444444;
            font-weight: 600;
            margin: 15px 5px 10px 5px;
            font-size: 1em;
        }
    }
    .mbDesc{
        p{
            line-height: 1.6;
            a{
                line-height: 1.6;
                background: #da0303;
            }
        }
    }
}

.bBreadCrumb{
    display: flex;
    color: #fff;
    margin-bottom: 15px;
    font-size: 12px;
    // .bcItem{
    //     padding-right: 15px;
    // }
    .bcItem.bcItem2::before,
    .bcItem.bcItem3::before{
        content: " ";
        width: 24px;
        height: 24px;
        background: url(../images/rightArrow.svg) center no-repeat;
        background-size: 14px 14px;
        padding: 0px 15px 0 15px;
    }
}


    // a::before{
    //     content: " ";
    //     width: 26px;
    //     height: 26px;
    //     background-color: #ed0409;
    //     position: absolute;
    //     left: -11px;
    //     top: -1px;
    //     opacity: 0.8;
    //     border-radius: 100%;
    // }


.jobsContainer{
    padding: 45px 0;
    .stBd{
        // margin: 0 auto;
        // max-width: 1200px;
        // padding: 0 15px;
        img{
            width: 100%;
            height: auto;
        }
        .sbcTitle{
            h2{
                text-transform: uppercase;
                color: #2e2e2e;
                font-weight: 600;
                margin-bottom: 25px;
            }
            &.vLarge{
                h2{
                    text-transform: none;
                    font-size: 2.8em;
                }
            }
        }
        .sbcBody{
            font-size: 1em;
            line-height: 1.7;
        }
        .moreAbout{
            margin-top: 30px;
            a:not(.btn){
                background: #FF0101;
                color: #fff;
                border: 1px solid #da0303;
                border-radius: 30px;
                padding: 10px 20px;
                display: inline-block;
                text-decoration: none;
            }
        }
    }

    .ctaBox{
        text-align: center;
        position: relative;
        border-radius: 10px;
        background: #fbfafa;
        margin: 30px auto;
        padding: 70px 30px 45px 30px;
        box-shadow: 1px 5px 14px 3px #ddd;
        &:hover{
            background: #fff;
        }
        .ctaPara{
            margin: 15px 0 20px 0;
            font-size: 1em;
            line-height: 1.7;
        }
        .ctaBtn{
            a{
                background: #FF0101;
                color: #fff;
                border: 1px solid #da0303;
                border-radius: 30px;
                padding: 10px 20px;
                display: inline-block;
                text-decoration: none;
                box-shadow: 1px 1px 5px 2px #cecece;
            }
        }
        .ctaTitle{
            font-weight: bold;
            color: #444;
            margin: 25px 0 20px 0;
        }
        .ctaImg{
            background-color: #FAEAEA;
            border-radius: 100%;
            width: 160px;
            height: 160px;
            padding: 40px;
            margin: auto;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    .threeColsBox{
        // margin: 0 auto;
        // max-width: 1200px;
        // padding: 0 15px;
        .bRow{
            justify-content: space-between;
        }
    }

}


.xleftCol,
.xrightCol{
    flex: 1 0 auto;
}