## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<section id="bloomFooter">
  <footer>
    <div class="containerBox">

      <div class="bRow footerTop">
        <div class="bCol-d-8 bCol-m-12">
          <div class="contentBox leftContentBox">
            <div class="bRow">
              <div class="bCol bCol-d-4 bCol-m-12">
                <div class="footerBox">
                  <h4>BloomED</h4>
                  <ul class="footerMenu">
                    <li>
                      <a href="https://bloomed.org.np/about">About BloomED</a>
                    </li>
                    <li>
                      <a href="https://bloomed.org.np/jobs">Careers</a>
                    </li>
                    <li>
                      <a href="https://bloomed.org.np/blogs">Blog</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="bCol bCol-d-4 bCol-m-12">
                <div class="footerBox">
                  <h4>Support</h4>
                  <ul class="footerMenu">
                    <li>
                      <a href="https://bloomed.org.np/faq">Help Center</a>
                    </li>
                    <li>
                      <a href="https://bloomed.org.np/contact">Contact Us</a>
                    </li>
                  </ul>
                </div>            
              </div>            
              <div class="bCol bCol-d-4 bCol-m-12">
                <div class="footerBox">
                  <h4>Connect</h4>
                  <ul class="footerMenu">
                    <li>
                      <a href="https://bloomed.org.np/donate">Donate</a>
                    </li>
                    <li>
                      <a href="https://teach.bloomed.org.np">Teach on BloomED</a>
                    </li>
                    <li>
                      <a href="https://bloomed.org.np/contact#suggestions">Submit Suggestions</a>
                    </li>
                  </ul>
                </div>            
              </div>            
            </div>
          </div>
        </div>
        <div class="bCol-d-4 bCol-m-12">
          <div class="contentBox rightContentBox">
            <div class="ftrPara">
              <div class="ftrPara1">
                <p>
                  Delivering quality education to everyone, everywhere BloomED is a non-profit organization.
                </p>
              </div>
              <div class="ftrPara2">
                <p>
                  <a href="https://bloomed.org.np/donate">Donate,</a> <a href="https://bloomed.org.np/careers">Volunteer</a> or <a href="https://bloomed.org.np/careers">provide Pro Bono</a> support today.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>
</section>


<section id="bloomFooterLower">
  <footer>
    <div class="containerBox">
      <div class="bRow footerBottomBox">
        <div class="bCol-d-8 bCol-m-12">
          <div class="contentBox leftContentBox">
          <div class="footerBottom">
            <span>
              &copy; BloomED
            </span>
            <span>
              <a href="https://bloomed.org.np/terms-of-use"> Terms of use </a>
            </span>
            <span>
              <a href="https://bloomed.org.np/privacy">Privacy Policy</a>
            </span>
            <span>
              <a href="https://bloomed.org.np/honor">Academic Honor Code</a>
            </span>
          </div>
          </div>
        </div>
        <div class="bCol-d-4 bCol-m-12">
          <div class="contentBox rightContentBox">
            <div class="socialMediaIcons">
              <span class="socialLink LinkedIn">
                <a href="https://www.linkedin.com/company/bloomeducation">LinkedIn</a>
              </span>
              <span class="socialLink Youtube">
                <a href="https://www.youtube.com/channel/UCmy68A77Pl7-EJ4d7uginXg/playlists">Youtube</a>
              </span>
              <span class="socialLink Facebook">
                <a href="https://facebook.com/BloomEDLearning">Facebook</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
